*{
  margin:0;
  padding: 0;
}
nav{
  background-color: antiquewhite;
  padding: 15px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
.navbar a{
  color: black;
  text-decoration: none;

}
table{
     border-collapse: collapse;
      width: 70%;
      height: 100px;
      margin: 20px auto;
      text-align: center;

}
h1{
 
   justify-content: center;
}
.center{
  display: flex;
   justify-content: center;
 
}
.center form{
 position:absolute;
 background-color: rgb(184, 243, 223);
 width: 50%;
 padding: 25px 40px;
 border: 1px solid #000;

}
form input{
  height: 40px;
  width: 80%;
  border-radius: 1px solid silver;
}